body {
  background: linear-gradient(to right, #f0f8ff, #e6f7ff); 
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}
form input {
  height: 40px;
  flex-basis: 80%;
}
form button {
  flex-basis: 20%;
}
.outerDiv {
  width: 1170px;
  margin: auto;
}
.outerDiv ul {
  margin: 0px;
  margin-top: 50px;
  padding: 0px;
  list-style: none;
}
.outerDiv ul li {
  color: black; /* Updated to ensure text is visible on a light background */
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  background: linear-gradient(to right, white, rgb(117, 197, 228));
  border: 1px solid #ccc; /* Optional: to add a border around items for better visibility */
}
.outerDiv ul li span {
  right: 20px;
  cursor: pointer;
  position: absolute;
}
.completetodo {
  text-decoration: line-through;
  color: black !important;
  background: linear-gradient(to right, white, rgb(173, 173, 173)) !important;
}
